{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 14px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<main>
    <h1 class="mt-4">{{ titre }} </h1>
    <section class="mt-4 pt-4">
        <div class="row container">
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="{{ path('demarches') }}"><img src="http://commercy.fr/wp-content/uploads/2015/07/carte-d-identite.png" alt="Vos démarches" width="130" height="130"/>
                        <h5 class="text-center">Démarches administratives</h5>
                        </a>
                    </div>
                </div>
                <p>Carte d'identité, passeport, recensement citoyen, inscription sur les listes électorales...</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="{{ path('urbanisme') }}"><img src="/images/mairie/urbanisme-700x465.jpg" alt="Urbanisme" width="130" height="130" />
                        <h5 class="text-center">Urbanisme</h5>
                        </a>   
                    </div>
                </div>
                <p>Permis de construire, plan cadastral, travaux ...</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="{{ path('conseilmunicipal') }}"><img src="/images/mairie/conseilmunicipal.jpeg" alt="Conseil municipal" width="130" height="130" />
                        <h5 style="text-align: center;">Conseil municipal</h5>
                        </a>
                    </div>
                </div>
                <p>Les membres du conseil municipal et leur fonction</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="#"><img src="/images/mairie/realisations.png" alt="Réalisations" width="130" height="130" />
                        <h5 style="text-align: center;">Réalisations</h5>
                        </a>
                    </div>
                </div>
                <p>Les réalisations de la mairie dans le mandat précédent</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="#"><img src="/images/mairie/travaux1.png" alt="Projets" width="130" height="130" />
                        <h5 style="text-align: center;">Projets</h5>
                        </a>
                    </div>
                </div>
                <p>Les projets de la mairie pour le mandat en cours</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="#"><img src="/images/mairie/finances.jpeg" alt="Finances" width="130" height="130" />
                        <h5 style="text-align: center;">Finances</h5>
                        </a>
                    </div>
                </div>
                <p>Bilan 2019 et évolution des finances</p>
            </div>
        </div>
    </section>
    
    {% include '/mairie/bureaux.html.twig' %}
        
    {% include '/mairie/lienscomcom.html.twig' %}
</main>


{% endblock %}
