<section class="container-fluid">
    <div class="text-center">
    <h5 class="mt-5"> <img src="/images/iconemenu.png" height="40px" /> Menu Mairie</h5>
        
        <div><a href="{{ path('demarches') }}">Démarches administratives</a></div>
        <div><a href="{{ path('urbanisme') }}">Plans et cadastre</a></div>
        <div><a href="{{ path('conseilmunicipal') }}">Conseil Municipal</a></div>
        <div><a href="{{ path('associations') }}">Associations</a></div>
        <div><a href="{{ path('mairie') }}">Réalisations </a></div>
        <div><a href="{{ path('mairie') }}">Projets </a></div>
        <div><a href="{{ path('mairie') }}">Finances </a></div>
        
    </div>
</section>