<section class="container-fluid">
    <div class="text-center">
    <h5 class="mt-5"> Menu Evénements</h5>
        
        <div><a href="{{ path('actualite') }}">Actualité</a></div>
        <div><a href="{{ path('evenements') }}">Evénements</a></div>
        <div><a href="{{ path('actualiteetevenements') }}">A la une</a></div>
        <div><a href="{{ path('naissances') }}">Naissances</a></div>
        <div><a href="{{ path('mariages') }}">Mariages </a></div>
        <div><a href="{{ path('deces') }}">Décés </a></div>
        <div><a href="{{ path('fetesactu') }}">Fêtes </a></div>
        <div><a href="{{ path('flashinfos') }}">Flash Infos </a></div>
    </div>
</section>