<section class="container-fluid">
    <div class="text-center">
    <h5 class="mt-5"> Menu Evénements</h5>
        <div><a href="{{ path('actualiteetevenements') }}">A la une</a></div>
        <div><a href="{{ path('evenements') }}">A venir</a></div>
        <div><a href="{{ path('actualite') }}">Passés</a></div>
        <div><a href="{{ path('naissances') }}">Carnet rose</a></div>
        <div><a href="{{ path('mariages') }}">Carnet blanc </a></div>
        <div><a href="{{ path('deces') }}">Hommage </a></div>
        <div><a href="{{ path('fetesactu') }}">Festivités </a></div>
        <div><a href="{{ path('flashinfos') }}">Flash Infos </a></div>
    </div>
</section>