        <tr class="ro1">
			<td class="ce5"><p>Solde d'exécution d'investissement</p></td>
			<td class="ce12">{{ Report1|number_format(0,'',' ') }}</td>
			<td class="ce12">{{ Report1|number_format(0,'',' ') }}</td>
			<td class="ce12">{{ Report2|number_format(0,'',' ') }}</td>
		</tr>
        <tr class="ro1">
			<td class="ce4"><p>Total des ressources d’investissement = C</p></td>
			<td class="ce11">{{ C1 }}</td>
			<td class="ce11">{{ C2 }}</td>
			<td class="ce11">{{ C3 }}</td>
		</tr>
		<tr class="ro1">
			<td class="ce5"><p>Total des dépenses d’investissement = D</p></td>
			<td class="ce12">{{ D1 }}</td>
			<td class="ce12">{{ D2 }}</td>
			<td class="ce12">{{ D3 }}</td>
		</tr>
		<tr class="ro1">
			<td class="ce4"><p>Besoin ou capacité de financement de la section investissement = E</p></td>
			<td class="ce11"> </td>
			<td class="ce11">{{ E2 }}</td>
			<td class="ce11"> </td>
		</tr>