
{{ form_start(form, 
    {'attr': {
        'novalidate':'novalidate',
        'class':'col-lg-12'
        }
      })
}}

    <div class="mt-4"> 
        {{ form_row(form.Lastname) }}
    </div>
    <div class="mt-4"> 
        {{ form_row(form.Firstname) }}
    </div>
    <div class="mt-4"> 
        {{ form_row(form.username) }}
    </div>
    <div class="mt-4"> 
        {{ form_row(form.email) }}
    </div>
    {% if (signup) %}
    <div class="mt-4">
        {{ form_row(form.plainPassword) }}
    </div>
    {% else %}
    <div class="mt-4">
        {{ form_row(form.roles) }}
    </div>
    <div class="mt-4"> 
        {{ form_errors(form.isVerified) }}
        {{ form_widget(form.isVerified) }}
    </div>
    {% endif %}
    <button class="btn btn-primary mt-4">Enregistrer</button>
    <a href="{{ path('admin.user.index')}}" type="cancel" class="btn btn-secondary mt-4">Annuler</a>

 {{ form_end(form) }}