{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { min-height: 20em; font: 14px/1.5 }

</style>

<div class="example-wrapper">
    <h2> {{ titre }} </h2>
    <hr>

    {% include 'flashes.html.twig' %}
    
   <div class="mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    
                    <th> Nom </th>
                    <th> Prénom </th>
                    <th> Identifiant </th>
                    <th> Adresse Mail </th>
                    <th> Rôle </th> 
                    <th> Activé </th>
                    <th> Enregistré le </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td> {{ user.lastname }} </td>
                    <td> {{ user.firstname }} </td>
                    <td> {{ user.username }} </td>
                    <td> {{ user.email }} </td>
                    <td> 
                        {% if user.roles %}
                            {{ user.roles[0] }} 
                        {% else %}
                            ROLE_USER
                        {% endif %}
                        </td>
                    <td> {{ user.isVerified }} </td>
                    <td> {{ user.createdAt |date("d/m/Y H:i") }} </td>
                    <td> 
                        <a href="{{ path('admin.user.edit' , {id: user.id}) }}" class="btn btn-secondary"> <i class="fa fa-solid fa-pencil fa-large"></i> </a>
                        <form  action="{{ path('admin.user.delete' , {id: user.id}) }}" style="display:inline-block" method="POST" onsubmit="return confirm('Etes vous vraiment sûr ?')"> 
                            <input type="hidden" name="_method" value="DELETE">
                            {# pour la sécurité, on ajoute un tocken #}
                            <input type="hidden" name="_tocken" value="{{ csrf_token('delete' ~ user.id) }}"> 
                            <button class="btn btn-danger"> <i class="fa fa-solid fa-trash fa-large"></i> </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
        <a href="{{ path('admin.user.new') }}" class="btn btn-primary">Créer un nouvel Utilisateur</a>
        </div>
   </div>
</div>
{% endblock %}
