{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://kit.fontawesome.com/c85d7d7f2c.js" crossorigin="anonymous"> </script>
{% endblock %}
{% block body %}

    <div class="example-wrapper page-login mt-4">
        {% include 'flashes.html.twig' %}
        {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messagedata, 'security')}}
        </div>
        {% else %}
        <div class="alert alert-secondary"> Veuillez vous identifier pour accéder à l'administration du site </div>
        {% endif %}
        <div class="mt-4">
            <form action="{{ path('login')}}" method="POST">
                <fieldset>
                    <legend>
                        <i class="fa fa-lock" area-hidden="true"></i> {{ title |trans}}
                    </legend>
                    <div class="group-form">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" name="_username" id="username" class="form-control" value="{{ last_username }}">
                    </div>
                    <div class="group-form mt-4">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="_password" id="password" class="form-control">
                    </div>
                    <div> 
                        <a href="{{ path('forgotten_password')}}" type="cancel" class="mt-4">Mot de passe oublié</a>
                    </div>
                    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to')}}" />
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate')}}" />
                    <button type="submit" class="mt-4 btn btn-primary">Se connecter</button>    
                    <a href="/" type="cancel" class="mt-4 btn btn-secondary">Annuler</a>
                </fieldset>            
            </form>
        </div>
    </div>
    {% endblock %}