<h3> Accés rapide </h3>
<section class="row container ml-4 mt-4">
    <article class="col-md-2 mr-4">
        <div class="container-fluid">
            <div class="text-center">
	        <a href="{{ path('evenements') }}"><img src="/images/mairie/agenda-evenements.png">
	        <p class="text-center mt-2">Agenda<br>Evenements</p>
            </a>
            </div>
        </div>
    </article>

    <article class="col-md-2 mr-4">
        <div class="container-fluid">
            <div class="text-center">
	            <a href="{{ path('demarches') }}"><img src="/images/mairie/demarches-admin.png">
	            <p class="text-center mt-2">Demarches administratives</p>
                </a> 
            </div>
        </div>
    </article>

    <article class="col-md-2 mr-4">
        <div class="container-fluid">
            <div class="text-center">
                <a href="{{ path('conseilmunicipal') }}">
	                <img src="/images/mairie/conseil-municipal.png"></p>
	                <p class="text-center mt-0">Conseil municipal</p></a>
            </div>
        </div>
    </article>

    <article class="col-md-2">
	    <div class="container-fluid">
            <div class="text-center">
                <a href="{{ path('associations') }}">
                <img src="http://www.mirecourt.fr/wp-content/uploads/pictos_home/annuaire.png"></p>
	                <p class="text-center mt-0">Annuaire Associations</p></a>
            </div>
        </div>
    </article>

    <article class="col-md-2">
        <div class="container-fluid">
            <div class="text-center">
                <a href="{{ path('urbanisme') }}">
	            <img src="http://www.mirecourt.fr/wp-content/uploads/pictos_home/urbanisme.png"></p>
	            <p class="text-center mt-2">Urbanisme</p></a>
            </div>
        </div>
    </article>

</section>