
<section class="row">
    <article class="example-wrapper col-4 col-sm-2 col-md-2">
        <div class="container-fluid clicrapide-item">
            <div class="text-center mt-2">
	            <a href="{{ path('alaune') }}"><img class="clicrapide-image" src="/images/mairie/agenda-vert1.jpg" height="65">
	                <p class="text-center mt-2">Actu'<br>A la Une</p>
                </a>
            </div>
        </div>
    </article>

    <article class="example-wrapper col-4 col-sm-2 col-md-2">
        <div class="container-fluid clicrapide-item">
            <div class="text-center mt-2">
	            <a href="{{ path('demarches') }}"><img class="clicrapide-image" src="/images/mairie/demarches_admin-vert.png" height="65"/>
	            <p class="text-center mt-2">Demarches administratives</p>
                </a> 
            </div>
        </div>
    </article>

    <article class="example-wrapper col-4 col-sm-2 col-md-2">
        <div class="container-fluid clicrapide-item">
            <div class="text-center mt-2">
                <a href="{{ path('urbanisme') }}">
	            <img class="clicrapide-image" src="/images/mairie/maison-vert.png" height="65"/>
	            <p class="text-center mt-2">Plans et <br>cadastre</p></a>
            </div>
        </div>
    </article>

    <article class="example-wrapper col-4 col-sm-2 col-md-2">
	    <div class="container-fluid clicrapide-item">
            <div class="text-center mt-2">
                <a href="{{ path('associations') }}">
                <img class="clicrapide-image" src="/images/mairie/syndicat-vert.png" height="81"/>
	                <p class="text-center mt-3">Associations</p></a>
            </div>
        </div>
    </article>

    <article class="example-wrapper col-4 col-sm-2 col-md-2">
        <div class="container-fluid clicrapide-item">
            <div class="text-center mt-2">
                <a href="{{ path('conseilmunicipal') }}">
	                <img class="clicrapide-image" src="/images/mairie/cotravail-vert.png" height="65"/>
	                <p class="text-center mt-2">Conseil <br>municipal</p></a>
            </div>
        </div>
    </article>
    
</section>