{#<h3 class="text-center"> Accés rapide </h3> #}
<section class="row">
    <article class="example-wrapper col-6 col-sm-4 col-md-2">
        <div class="container-fluid border border-primary" id="clicrapide">
            <div class="text-center mt-2">
	            <a href="{{ path('actualiteetevenements') }}"><img src="/images/mairie/agenda-evenements.png" height="65">
	                <p class="text-center mt-2">Actualités<br>A la Une</p>
                </a>
            </div>
        </div>
    </article>

    <article class="example-wrapper col-6 col-sm-4 col-md-2">
        <div class="container-fluid border border-primary">
            <div class="text-center mt-2">
	            <a href="{{ path('demarches') }}"><img src="/images/mairie/demarches-admin.png" height="65"/>
	            <p class="text-center mt-2">Demarches administratives</p>
                </a> 
            </div>
        </div>
    </article>

    <article class="example-wrapper col-6 col-sm-4 col-md-2">
        <div class="container-fluid border border-primary">
            <div class="text-center mt-2">
                <a href="{{ path('urbanisme') }}">
	            <img src="/images/mairie/urbanisme.png" height="65"/>
	            <p class="text-center mt-2">Plans et <br>cadastre</p></a>
            </div>
        </div>
    </article>

    <article class="example-wrapper col-6 col-sm-4 col-md-2">
	    <div class="container-fluid border border-primary">
            <div class="text-center mt-2">
                <a href="{{ path('associations') }}">
                <img src="/images/mairie/iconeassociation2.png" height="81"/>
	                <p class="text-center mt-3">Associations</p></a>
            </div>
        </div>
    </article>

    <article class="example-wrapper col-6 col-sm-4 col-md-2">
        <div class="container-fluid border border-primary">
            <div class="text-center mt-2">
                <a href="{{ path('conseilmunicipal') }}">
	                <img src="/images/mairie/conseil-municipal.png" height="65"/>
	                <p class="text-center mt-2">Conseil <br>municipal</p></a>
            </div>
        </div>
    </article>
    
</section>