<h3 class="text-center"> Accés rapide </h3>
<section class="row">
    <article class="example-wrapper col-xs-6 col-sm-4 col-md-2">
        <div class="container-fluid">
            <div class="text-center">
	        <a href="{{ path('evenements') }}"><img src="/images/mairie/agenda-evenements.png">
	        <p class="text-center mt-2">Agenda<br>Evenements</p>
            </a>
            </div>
        </div>
    </article>

    <article class="example-wrapper col-xs-6 col-sm-4 col-md-2">
        <div class="container-fluid">
            <div class="text-center">
	            <a href="{{ path('demarches') }}"><img src="/images/mairie/demarches-admin.png">
	            <p class="text-center mt-2">Demarches administratives</p>
                </a> 
            </div>
        </div>
    </article>

    <article class="example-wrapper col-xs-6 col-sm-4 col-md-2">
        <div class="container-fluid">
            <div class="text-center">
                <a href="{{ path('conseilmunicipal') }}">
	                <img src="/images/mairie/conseil-municipal.png"></p>
	                <p class="text-center mt-0">Conseil municipal</p></a>
            </div>
        </div>
    </article>

    <article class="example-wrapper col-6 col-sm-4 col-md-2">
	    <div class="container-fluid">
            <div class="text-center">
                <a href="{{ path('associations') }}">
                <img src="/images/mairie/iconeassociation2.png" height="81" width="81"></p>
	                <p class="text-center mt-0">Associations</p></a>
            </div>
        </div>
    </article>

    <article class="example-wrapper col-6 col-sm-4 col-md-2">
        <div class="container-fluid">
            <div class="text-center">
                <a href="{{ path('urbanisme') }}">
	            <img src="/images/mairie/urbanisme.png"></p>
	            <p class="text-center mt-2">Plans et cadastre</p></a>
            </div>
        </div>
    </article>

</section>