{% if not registrationForm.vars.valid %}
    <div class="alert alert-danger">
        Vous avez fait une erreur dans le remplissage du formulaire. 
        <br> Veuillez corriger s'il vous plait.
    </div>
{% endif %}
{{ form_start(form, 
    {'attr': {
        'novalidate':'novalidate',
        'class':'col-lg-12'
        }
      })
}}
    <fieldset>
        <legend>Mon identité</legend> 
        <div>  
            {{ form_row(form.Lastname) }}
        </div>
        <div class="mt-2">
            {{ form_row(form.Firstname) }}
        </div>
        
        <div class="mt-2">
            {{ form_row(form.email) }}
        </div>
    </fieldset>
    <fieldset class="mt-4">
        <legend>Mes identifiants de connexion</legend>
        <div> 
            {{ form_row(form.username )}}
        </div>
        <div class="mt-2"> 
            {{ form_row(form.plainPassword) }}
        </div>
    </fieldset>
    <div class="mt-2"> 
        {{ form_errors(form.RGPDConsent) }}
        {{ form_widget(form.RGPDConsent) }}
        
    </div>
    <button class="btn btn-primary mt-4">M'inscrire</button>
    <a href="{{ path('home')}}" type="cancel" class="btn btn-secondary mt-4">Annuler</a>

 {{ form_end(form) }}