<h6 class="mt-5"> <img src="/images/iconemenu.png" height="40px" /> Animations et Loisirs</h6>
<div>
    <div><a href="{{ path('jeunesse') }}">Jeunesse</a></div>
    <div><a href="{{ path('aines') }}">Ainés</a></div>
    <div><a href="{{ path('videgreniers') }}">Vide-Greniers</a></div>
    <div><a href="{{ path('concerts') }}">Concerts</a></div>
    <div><a href="{{ path('fetes') }}">Fêtes </a></div>
    <div><a href="{{ path('sportsetloisirs') }}">Sports et Loisirs </a></div>
</div>