<a href="{{ path('evenement.show', {slug: evenement.slug, id: evenement.id}) }}">

<div class="card mb-4 
        {% if (evenement.typeEvenement(evenement.type) == 'Hommage') %}
             border-secondary
        {% elseif (evenement.typeEvenement(evenement.type) == 'Carnet rose') %}
            border-pink
        {% elseif (evenement.typeEvenement(evenement.type) == 'Festivité') %}
            border-warning
        {% elseif (evenement.typeEvenement(evenement.type) == 'Carnet blanc') %}
            border-white
        {% elseif (evenement.typeEvenement(evenement.type) == 'Commémoration') %}
            border-lignt
        {% elseif (evenement.typeEvenement(evenement.type) == 'Activité Nature') %}
            border-primary
        {% elseif (evenement.typeEvenement(evenement.type) == 'Activité associative') %}
            border-success
        {% elseif (evenement.typeEvenement(evenement.type) == 'Rencontre sportive') %}
            border-success
        {% elseif (evenement.typeEvenement(evenement.type) == 'Flash-Info') %}
            border-danger
        {% endif %}">
    {% if evenement.image %}
        <img src="{{vich_uploader_asset(evenement, 'imageFile') | imagine_filter('thumb')}}" Alt="card-img-top" width="100%" height="auto"/>
    {% elseif (evenement.typeEvenement(evenement.type) == 'Hommage') %}
        <img src="/images/fleur2.jpg" width="100%" height="auto"/>
    {% elseif (evenement.typeEvenement(evenement.type) == 'Carnet rose') %}
        <img src="/images/naissance.jpg" width="100%" height="auto"/>
    {% elseif (evenement.typeEvenement(evenement.type) == 'Carnet blanc') %}  
        <img src="/images/mariage.jpg" width="100%" height="auto"/>
    {% else %}
        <img src="{{'/images/evenements/iconecalendrier.png' | imagine_filter('thumb')}}" width="100%" height="auto"/>
    {% endif %}
    <div class="card-body">
        <p class="card-title"> 
            
                {{ evenement.typeEvenement(evenement.type) }} 
            
        </p>
        <p class="card-text" style="font-weight: bold;"> {{ evenement.titre }} </p>
                    
        <p class="card-text"> Le {{ evenement.date | date ("d/m/Y") }} </p>            
    </div>
</div>
</a>
