<a href="{{ path('evenement.show', {slug: evenement.slug, id: evenement.id}) }}">

<div class="card card-transform mb-4 
        {% if (evenement.typeEvenement(evenement.type) == 'Hommage') %}
             border-secondary
        {% elseif (evenement.typeEvenement(evenement.type) == 'Carnet rose') %}
            border-pink
        {% elseif (evenement.typeEvenement(evenement.type) == 'Festivité') %}
            border-warning
        {% elseif (evenement.typeEvenement(evenement.type) == 'Carnet blanc') %}
            border-white
        {% elseif (evenement.typeEvenement(evenement.type) == 'Commémoration') %}
            border-lignt
        {% elseif (evenement.typeEvenement(evenement.type) == 'Activité Nature') %}
            border-primary
        {% elseif (evenement.typeEvenement(evenement.type) == 'Activité associative') %}
            border-success
        {% elseif (evenement.typeEvenement(evenement.type) == 'Rencontre sportive') %}
            border-success
        {% elseif (evenement.typeEvenement(evenement.type) == 'Flash-Info') %}
            border-danger
        {% endif %}">
        
    {% if evenement.image %}
        <img class="card-img-real" src="{{ asset('/images/evenements/'~evenement.image)  }}" Alt="card-img-top" height="130px"/>
    {% elseif (evenement.typeEvenement(evenement.type) == 'Conseil Municipal') %}
        <img src="/images/mairie/conseilmunicipal.jpeg" class="card-img mx-auto"/>
    {% elseif (evenement.typeEvenement(evenement.type) == 'Hommage') %}
        <img class="card-img" src="/images/fleur2.jpg"/>
    {% elseif (evenement.typeEvenement(evenement.type) == 'Carnet blanc') %}  
        <img class="card-img" src="/images/mariage.jpg"/>
    {% else %}
        <img class="card-img mx-auto" src="{{'/images/evenements/iconecalendrier.png' }}"/>
    {% endif %}
        
    <div class="card-body">
        <p class="card-title"> 
            
                {{ evenement.typeEvenement(evenement.type) }} 
            
        </p>
        <p class="card-text" style="font-weight: bold;"> {{ evenement.titre }} </p>
                    
        <p class="card-text"> Le {{ evenement.date | date ("d/m/Y") }} </p>            
    </div>
</div>
</a>
