{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    {# .example-wrapper { max-width: 500px; width: 95%; min-height: 20em; } #}
    .card-body p  {font-style: italic; font-size:small; color:blue}
    h2 {text-align: center}
</style>

<div class="row container">
<main class="example-wrapper col-md-8">
    <h2> {{ titre }} </h2>
    <hr>
   <div class="container mt-4">
        <div class="card mt-4">
            <div class="card-header text-center 
            {% if (evenement.typeEvenement(evenement.type) == 'Hommage') %}
                bg-secondary
            {% elseif (evenement.typeEvenement(evenement.type) == 'Naissance') %}
                bg-success
            {% elseif (evenement.typeEvenement(evenement.type) == 'Fête') %}
                bg-warning
            {% elseif (evenement.typeEvenement(evenement.type) == 'Mariage') %}
                bg-info
            {% elseif (evenement.typeEvenement(evenement.type) == 'Commémoration') %}
                bg-light
            {% elseif (evenement.typeEvenement(evenement.type) == 'Vide-Greniers') %}
                bg-warning
            {% elseif (evenement.typeEvenement(evenement.type) == 'Concert') %}
                bg-warning
            {% elseif (evenement.typeEvenement(evenement.type) == 'Animation') %}
                bg-primary
            {% elseif (evenement.typeEvenement(evenement.type) == 'Repas') %}
                bg-primary
            {% elseif (evenement.typeEvenement(evenement.type) == 'Ile aux Enfants') %}
                bg-success
            {% elseif (evenement.typeEvenement(evenement.type) == 'Sport') %}
                bg-success
            {% elseif (evenement.typeEvenement(evenement.type) == 'Flash-Info') %}
                bg-danger
            {% endif %}"> 
                <h4> {{ evenement.typeEvenement(evenement.type) }} </h4> 
            </div>
            {% if evenement.image %}
                <img src="{{vich_uploader_asset(evenement, 'imageFile') | imagine_filter('medium')}}" Alt="card-img-top" width="100%" height="auto"/>
            {% else %}
                <img src="{{'/images/evenements/iconecalendrier.png' | imagine_filter('medium')}}" width="100%" height="auto"/>
            {% endif %}
            <div class="card-body">
                <div class="element text-right"> Le {{ evenement.date | date ("d/m/Y") }} </div>
                <div class="mt-2 text-justify" > {{ evenement.description }} </div>
                <p class="mt-4 mb-0"> Créé le {{ evenement.createdAt | date ("d/m/Y h:m:s") }} </p>
            </div>
        </div>
   </div>
</main>
<aside class="col-md-4">
    {% include '/evenements/menuevenements.html.twig' %}  
</aside>
</div>
{% endblock %}