{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 500px; width: 95%; min-height: 20em; font: 18px/1.5 sans-serif; }
    p  {font-style: italic; font-size:small; color:blue}
    h1 {text-align: center}
</style>

<div class="example-wrapper">
    <h2> {{ titre }} </h2>

   <div class="container mt-4">
        <div class="card mt-4">
            <div class="card-header text-center 
            {% if (evenement.typeEvenement(evenement.type) == 'Hommage') %}
                bg-secondary
            {% elseif (evenement.typeEvenement(evenement.type) == 'Naissance') %}
                bg-success
            {% elseif (evenement.typeEvenement(evenement.type) == 'Fête') %}
                bg-warning
            {% elseif (evenement.typeEvenement(evenement.type) == 'Mariage') %}
                bg-info
            {% elseif (evenement.typeEvenement(evenement.type) == 'Commémoration') %}
                bg-lignt
            {% elseif (evenement.typeEvenement(evenement.type) == 'Vide-Greniers') %}
                bg-primary
            {% endif %}"> 
                <h4> {{ evenement.typeEvenement(evenement.type) }} </h4> 
            </div>
            <div class="card-body">
                <div class="element text-right"> Le {{ evenement.date | date ("d/m/Y") }} </div>
                <div class="mt-2 text-justify" > {{ evenement.description }} </div>
                <p class="mt-4 mb-0"> Créé le {{ evenement.createdAt | date ("d/m/Y h:m:s") }} </p>
            </div>
        </div>
   </div>
</div>
{% endblock %}