{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { max-width: 800px; width: 95%; }
    .font-blue-italic  {font-style: italic; font-size:small; color:blue}
</style>

<div class="row mt-4">
    <main class="page-evenement col-md-9">
        <h2>{{ evenement.typeEvenement(evenement.type) }}</h2>
        <hr>
        <div class="card mt-4 example-wrapper element-evenement">
            {% if evenement.pdfFile %}   
                <!--<iframe class="card-pdf" src="{{vich_uploader_asset(evenement, 'pdfFile') }}" scrolling="no" frameborder="0" style="height: 100%; width: 100%"></iframe>
            -->
                <a class="mx-auto text-center" href="{{vich_uploader_asset(evenement, 'pdfFile') }}">
            {% endif %}
            {% if evenement.image %}
                <img src="{{vich_uploader_asset(evenement, 'imageFile') }}" Alt="card-img-top" width="100%" height="auto"/>
            {% elseif (evenement.typeEvenement(evenement.type) == 'Hommage') %}
                <img src="/images/fleur2.jpg" class="card-img-show mx-auto"/>
            {% elseif (evenement.typeEvenement(evenement.type) == 'Conseil Municipal') %}
                <img src="/images/mairie/conseilmunicipal.jpeg" class="mx-auto"/>
            {% elseif (evenement.typeEvenement(evenement.type) == 'Carnet blanc') %}  
                <img src="/images/mariage.jpg" class="card-img-show mx-auto"/>
            {% else %}
                <img src="{{'/images/evenements/iconecalendrier.png'}}" class="card-img-show mx-auto"/>
            {% endif %}
            {% if evenement.pdfFile %}
                <div class="text-center">
                    Ouvrir Fichier Pdf</a>
                </div>
            {% endif %}   
            <div class="card-header text-center 
            {% if (evenement.typeEvenement(evenement.type) == 'Hommage') %}
                bg-secondary
            {% elseif (evenement.typeEvenement(evenement.type) == 'Conseil Municipal') %}
                bg-primary
            {% elseif (evenement.typeEvenement(evenement.type) == 'Fête') %}
                bg-warning
            {% elseif (evenement.typeEvenement(evenement.type) == 'Mariage') %}
                bg-white
            {% elseif (evenement.typeEvenement(evenement.type) == 'Commémoration') %}
                bg-light
            {% elseif (evenement.typeEvenement(evenement.type) == 'Vide-Greniers') %}
                bg-pink
            {% endif %}"> 
                <h4> {{ evenement.titre }} </h4> 
            </div>
            <div class="card-body">
                <div class="element text-right"> Le {{ evenement.date | date ("d/m/Y") }} </div>
                <div class="mt-2 text-justify col-12 evenement-description" > {{ evenement.description|raw}} </div>
                <!-- < remplacé artificiellement par > ci-dessous pour éviter un bug sur updatedAt qui renvoie la date d'aujour'hui -->
                {% if (evenement.createdAt > evenement.updatedAt) %}
                    <p class="mt-4 mb-0 font-blue-italic"> Créé le {{ evenement.createdAt | date ("d/m/Y H:i:s") }} 
                    <br> Modifié le {{ evenement.updatedAt | date ("d/m/Y H:i:s") }} </p>
                {% else %}
                    <p class="mt-4 mb-0 font-blue-italic"> Créé le {{ evenement.createdAt | date ("d/m/Y H:i:s") }} </p>
                {% endif %}
            </div>
        </div>
    </main>
    
</div>

{% endblock %}