{# templates/contact/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { max-width: 600px; margin-top: 0}
    .h3 { margin-top: 0}
</style>

<h2> {{ titre }} </h2>
<hr>
<div class="row justify-content-around">

    <main class="example-wrapper col-12 col-md-6">

        {% if not form.vars.valid %}
        <div class="alert alert-danger">
            Vous avez fait une erreur dans le remplissage du formulaire. 
            <br> Veuillez reprendre s'il vous plait.
        </div>
        {% endif %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
            {{ message }}
            </div>
        {% endfor %}
        <h3>Laissez nous un message</h3>
    
        <div id="contactForm" class="mt-4 bg-light">

            {{ form_start(form) }}
            <div class="row mx-2">
                <div class="col mt-4">
                    {{ form_errors(form.prenom) }} 
                    {{ form_widget(form.prenom, { 'attr' : {'placeholder' : 'Prénom'}}) }} 
                    
                </div>

                <div class="col mt-4">
                    {{ form_errors(form.nom) }}
                    {{ form_widget(form.nom, { 'attr' : {'placeholder' : 'Nom'}}) }} 
                    
                </div>
            </div>
            <div class="row mt-4 mx-2">
                <div class="col">
                    {{ form_errors(form.tel) }}
                    {{ form_widget(form.tel, { 'attr' : {'placeholder' : 'Téléphone'}}) }} 
                    
                </div>
                <div class="col">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, { 'attr' : {'placeholder' : 'Adresse e-mail'}}) }} 
                    
                </div>
            </div>
            <div class="row mt-4 mx-2">
                <div class="col">
                    {{ form_errors(form.sujet) }}
                    {{ form_widget(form.sujet, { 'attr' : {'placeholder' : 'Sujet'}}) }} 
                 </div>       
            </div>
            <div class="row mt-4 mx-2">
                <div class="col">
                    {{ form_errors(form.message) }}
                    {{ form_widget(form.message, { 'attr' : {'placeholder' : 'Votre message'}}) }} 
                 </div>       
            </div>
            {{ form_rest(form) }}
            <div class="form-group mt-4 mx-2 pb-4">
                <div class="col text-center">
                    <button class="btn btn-primary"> Envoyer </button>
                    <input id="reset" type="reset" value="Effacer tout" class="btn btn-dark">
                </div>
            </div>
            {{ form_end(form) }}
            
        </div>    
    </main>
    <section class="col-12 col-md-6">
        <h3> Mairie </h3>
            <div class="mt-4">
                <img src="/images/mairie/carte-mairie-pagny1.png" width="100%" height="100%"/>
            </div>
            <div class="optionnel">
                <p class="mt-4"> <i class="fa fa-location-dot"> </i> <span class="ml-1">  </span> 7 rue des Halles, 55140 Pagny la Blanche Côte   </p>
                <p>   <a href="tel:+33329908630"><i class="fa-solid fa-phone"> </i> <span class="ml-1">  </span> 03 29 90 86 30 </a> 
                    <span class="ml-4">  </span> <img  src="/images/iconefax.jpg" height="30"> Fax: 03 29 90 86 30 </img>
                    
                </p>
                <p> Permanence :
                    <ul>
                        <li> Le lundi de 10h30 à 12h30</li>
                        <li> Le jeudi de 10h30 à 12h30 </li>
                    </ul>
                </p>
            </div>
    </section>
</div>
{% endblock %}
