{# templates/contact/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 16px/1.5 Comic Verdana sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h2> {{ titre }} </h2>
<hr>
<div class="example-wrapper">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h3>Laissez nous un message</h3>
    
    <div id="contactForm" class="mt-4">

    {{ form_start(form) }}
        <div class="row">
            <div class="col">{{ form_row(form.prenom) }}</div>
            <div class="col">{{ form_row(form.nom) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.tel) }}</div>
            <div class="col">{{ form_row(form.email) }}</div>
        </div>
        {{ form_rest(form) }}
        <div class="form-group">
            <button class="btn btn-primary"> Envoyer </button>
        </div>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
