<h2> Email reçu </h2>
<p> Bonjour, Mme ou M. <b>{{ contact.prenom }}  {{ contact.nom }} </b> vous a contacté par le biais 
du formulaire de contact sur le site de la commune </p>
<p> Sujet : {{ contact.sujet }} </p> 
<p> {{ contact.message }} </p>
<p> <a href="{{ contact.email }} "> Contactez le</a></p>