<h1> Email reçu </h1>
<p> Bonjour, Mme ou M. <b>{{ contact.prenom }}  {{ contact.nom }} </b> vous a contacté </p>
<p> Sujet : {{ contact.sujet }} </p> 
<p> {{ contact.message }} </p>
<p> <a href="{{ contact.email }} "> Contactez le</a></p>