<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Le site officiel de la Commune de Pagny la Blanche Côte" >
        <meta name="author" content="Mairie de Pagny la Blanche Côte">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Pagny la Blanche Cote{% endblock %}</title>
        
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="/icons/mstile-150x150.png">
        <meta name="theme-color" content="#ffffff">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" media="screen and (max-width: 1024px)" href="/css/petit-ecran.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
			  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			  crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/c85d7d7f2c.js" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    
        
    </head>
    <body>
        <div class="banner">
            <img src="/images/Pagny-la-Blanche-Cote.jpg" width="100%"/>
        </div>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light sticky-top couleur-fond-menu" style="background-color: #87CEFA;">
            <a class="navbar-brand optionnel" href="/"> <img class="optionnel" style="margin:-12px" src="/images/LogoPagny.png" height="80" width="80"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mx-auto" >
                    <li class="nav-item {% if current_menu is defined and current_menu == 'accueil'%} active {% endif %}">
                        <a class="nav-link mr-2" href="/">Accueil</a>
                    </li>
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'mairie'%} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('mairie') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mairie</a>
                        
                        <div class="dropdown-menu couleur-fond-menu" aria-labelledby="navbarDropdown" data-hover="dropdown">
                            <a class="dropdown-item" href="{{ path('demarches') }}">Démarches administratives</a>
                            <a class="dropdown-item" href="{{ path('urbanisme') }}">Plans et Cadastre</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('conseilmunicipal') }}">Conseil municipal</a>
                            
                            <a class="dropdown-item" href="{{ path('finances') }}">Finances</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Réalisations</a>
                            <a class="dropdown-item" href="#">Projets</a>
                            
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'evenements'%} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('evenements') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actualités</a>
                        <div class="dropdown-menu couleur-fond-menu" aria-labelledby="navbarDropdown" data-hover="dropdown">
                            <a class="dropdown-item" href="{{ path('alaune') }}">A la une</a>
                            <a class="dropdown-item" href="{{ path('actualite') }}">Evènements Passés</a>
                            <a class="dropdown-item" href="{{ path('evenements') }}">Evènements A venir</a>
                            <a class="dropdown-item" href="{{ path('flashinfos') }}">Flash  Infos</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'viepratique'%} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('viepratique') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vie pratique</a>
                        <div class="dropdown-menu couleur-fond-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('viepratique') }}">Boulangerie et Relais Poste</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('scolaire') }}">Bus scolaires et écoles</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('serviceaines') }}">Services aux ainés</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('ordures') }}">Collecte des ordures</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'animationetloisirs' %} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('animationetloisirs') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Animation et Loisirs</a>
                        <div class="dropdown-menu couleur-fond-menu" aria-labelledby="navbarDropdown">
                            
                            <a class="dropdown-item" href="{{ path('jeunesse') }}">Jeunesse</a> 
                            <a class="dropdown-item" href="{{ path('aines') }}">Ainés</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('videgreniers') }}">Vide-Greniers</a>
                            <a class="dropdown-item" href="{{ path('concerts') }}">Concerts</a>
                            <a class="dropdown-item" href="{{ path('fetes') }}">Fêtes</a> 
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('sportsetloisirs') }}">Sports et Loisirs</a> 
                            
                        </div>
                    </li>
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'patrimoine'%} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('patrimoine') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Patrimoine</a>
                        <div class="dropdown-menu couleur-fond-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('historique') }}">Historique</a>
                            <a class="dropdown-item" href="{{ path('eglise') }}">Eglise St Grégoire</a>  
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('reserve') }}">Réserve naturelle</a>
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'associations'%} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('associations') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Associations</a>
                        <div class="dropdown-menu couleur-fond-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('ileauxenfants') }}">Ile aux enfants</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('saintgregoire') }}"> St Grégoire</a>  
                            
                        </div>
                    </li>
                    
                    <li class="nav-item {% if current_menu is defined and current_menu == 'contact'%} active {% endif %}">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'admin' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('admin.evenement.index') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                        <div class="dropdown-menu couleur-fond-menu" aria-labelledby="navbarDropdown">
                            
                            <a class="dropdown-item" href="{{ path('admin.evenement.index') }}">Evénements</a> 
                            {% if is_granted('ROLE_SUPADMIN') %}
                                <a class="dropdown-item" href="{{ path('admin.user.index') }}">Utilisateurs</a>                           
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto mr-4" >
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'session' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('logout') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/images/icone-se-connecter.png" class="bords-tres-arrondis" width="25">  {{app.user.firstname}}</a>
                        <div class="dropdown-menu couleur-fond-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('register.user.profile') }}">Mon profil</a>
                            <a class="dropdown-item" href="{{ path('logout') }}">Me déconnecter</a> 
                        </div>
                    </li>
                </ul>
                {% else %}
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'download'%} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('download')}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-download fa-fw"></i></a>
                        <div class="dropdown-menu couleur-fond-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/wpa/android/PagnyLBC.zip">Pour android</a>
                            <a class="dropdown-item" href="/wpa/IOS/PagnyLBC.zip">Pour iPhone</a> 
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item {% if current_menu is defined and current_menu == 'session' %} active {% endif %}">
                        <a href="{{ path('login') }}" class="btn btn-outline-primary" ><img src="/images/icone-se-connecter.png" class="bords-tres-arrondis" width="25">  Me connecter</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <footer style="background-color: #87CEFA;">
            <p> <i>Le site officiel de la commune de Pagny la Blanche Côte </i></p>
            <div class= "container">
                <div class= "row justify-content-around">
                <section class="col-sm-6 align-self-center">
                    <div class="row">
                        <div class="col-2 col-sm-0 col-md-2"></div>
                        <div class="container-fluid col-8 col-sm-12 col-md-8 adresse">
                            <div><strong> Mairie de Pagny la Blanche Côte</strong></div>
                            <div>7 rue des Halles <br>55140 Pagny la Blanche Côte<br>
                            Contact : <a href="tel:+33329908630">03.29.90.86.30</a><br>
                            <a href="mailto:pagnylablanchecote@wanadoo.fr">pagnylablanchecote@wanadoo.fr</a><br>
                            Les lundi et jeudi de 10h30 à 12h30.
                            </div>
                        </div>
                        <div class="col-2 col-sm-0 col-md-2"></div>
                    </div>
                </section>
                
                <section class="col-sm-6 align-self-center">
                    <div class="container-fluid text-center">
                        <a href ="{{ path('cartepagny') }}">
                            <img class="img-carte text-center" src="/images/pagny-dans-grand-est.png" Alt="Pagny dans le Grand-Est" title="Pagny dans le Grand-Est" border="0"/>
                            <div style="position:absolute;top:58.058548261902%;left:48.195362500348%;width:0px;height:0px;margin:0;padding:0;line-height:0px;background-color:transparent;">
                    
                                <div style="font-size:90%;position:relative;top:-2.5em;left: -5em;text-align:left;width:12em;line-height:1.2em;"><span class="toponyme">Pagny-la-Blanche-Côte</span></div>
                            </div>
                        </a>
                        <div class="text-center text-light small">Cliquer sur la carte pour géolocaliser</div>
                    </div>
                </section>   
                </div>
            </div>
            
        </footer>
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
			  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
    
    
</html>

