<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        {# <link rel='stylesheet' href="https://bootswatch.com/4/lumen/bootstrap.min.css" > #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css"
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div>
            <img src="/images/bandeau-2.jpg" width="100%"/>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Pagny la Blanche Côte</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'mairie'%} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('mairie') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MAIRIE</a>
                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('demarches') }}">Démarches citoyenneté</a>
                            <a class="dropdown-item" href="{{ path('urbanisme') }}">Urbanisme</a>
                            <a class="dropdown-item" href="{{ path('conseilmunicipal') }}">Conseil municipal</a>
                            <a class="dropdown-item" href="{{ path('associations') }}">Associations</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Réalisations</a>
                            <a class="dropdown-item" href="#">Projets</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Finances</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'evenements'%} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('evenements') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">EVENEMENTS</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('actualite') }}">Actualité</a>
                            <a class="dropdown-item" href="{{ path('evenements') }}">Evènements à venir</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'viepratique'%} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('viepratique') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">VIE PRATIQUE</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('viepratique') }}">Boulangerie</a>
                            <a class="dropdown-item" href="{{ path('viepratique') }}">Relais Poste</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('viepratique') }}">Bus scolaires</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('viepratique') }}">Collecte des ordures</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'jeunesse' %} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('jeunesse') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">JEUNESSE</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            
                            <a class="dropdown-item" href="{{ path('ileauxenfants') }}">Ile aux enfants</a> 
                            <a class="dropdown-item" href="{{ path('sportsetloisirs') }}">Sports et Loisirs</a> 
                            
                        </div>
                    </li>
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'patrimoine'%} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('patrimoine') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PATRIMOINE</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('historique') }}">Historique</a>
                            <a class="dropdown-item" href="{{ path('patrimoine') }}">Eglise St Grégoire</a>  
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('reserve') }}">Réserve naturelle</a>
                            <a class="dropdown-item" href="#">Sentiers banalisés</a>
                        </div>
                    </li>
                    {#
                    <li class="nav-item dropdown {% if current_menu is defined and current_menu == 'environnement' %} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ path('reserve') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ENVIRONNEMENT</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('reserve') }}">Réserve naturelle</a>
                            <a class="dropdown-item" href="#">Sentiers banalisés</a>
                        </div>
                    </li>
                    #}
                    <li class="nav-item {% if current_menu is defined and current_menu == 'contact'%} active {% endif %}">
                        <a class="nav-link" href="{{ path('contact') }}">CONTACT</a>
                    </li>
                </ul>
                {% if app.user %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <footer class="container">
        <p> <i>Le site officiel de la mairie de Pagny la Blanche Côte </i></p>
        <div class= "row container">
            <section class="col-md-4">
                <h5> Mairie </h5>
                <div> 7 rue des Halles <br> 55140 PAGNY LA BLANCHE CÔTE <br>
                Tel : 03 29 90 86 30 <br>
                Les lundi et jeudi de 10h30 à 12h30
                </div>
            </section>

            <section class="col-md-4">
                <h5> Nos rubriques </h5>
                <div><a href="{{ path('mairie') }}">Mairie</a></div>
                <div><a href="{{ path('evenements') }}">Evenements</a></div>
                <div><a href="{{ path('viepratique') }}">Vie Pratique</a></div>
                <div><a href="{{ path('sportsetloisirs') }}">Animations et Loisirs</a></div>
                <div><a href="{{ path('patrimoine') }}">Patrimoine </a></div>
                <div><a href="{{ path('contact') }}">Contact </a></div>
            </section>
        </div>
            
        </footer>
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
    
    
</html>
