        {{ form_start(form) }}
        <section class="row mt-4"> 
            <div class="col-md-3"> 
                {{ form_row(form.type) }} 
            </div>
            <div class="col-md-5"> {{ form_row(form.titre) }} </div>
            
            <div class="col-md-4"> {{ form_row(form.date) }} </div>
            <div class="col-md-3" id="image_evenement"> 
                {% if evenement.image %}
                    <img src="{{vich_uploader_asset(evenement, 'imageFile') | imagine_filter('thumb')}}" Alt="" width="100%" height="auto"/>
                {% endif %}
            </div>
            <div class="col-md-5" id="image_name"> 
                {{ form_label(form.imageFile,'Image') }} 
                {{ form_errors(form.imageFile) }}
                {{ form_help(form.imageFile) }}
                {{ form_widget(form.imageFile) }}
                
            </div>
        </section>
        <div class="mt-4">
            {{ form_label(form.description) }}
        </div>
        <div class="champ_description mb-4">
            {{ form_widget(form.description, {'attr_row' : {'font-size' : '12px'},
            'attr_row' : {'min-height' : '15rem'}}) }}
        </div>
        <button class="btn btn-primary">{{ button|default('Enregistrer')}} </button>
        <input id="reset" type="reset" value="Effacer tout" class="btn btn-dark">
        <a href="/admin" id="cancel" name="cancel" class="btn btn-secondary">Annuler </a>
            
        {{ form_end(form) }}

<script>
   
// Add the following code if you want the name of the file appear on select

    $(".custom-file-input").on("change", function() {
        var input = document.getElementById("evenement_imageFile_file");
        var fullPath = input.files[0];
        var prev = document.getElementById("image_evenement");
        
        var fReader = new FileReader();
        
        var oldImg = prev.querySelector("img");

        fReader.onload = function(event) {
            var imgElement = document.createElement("img");
            imgElement.style.maxWidth = '200px';
            imgElement.style.maxHeight = '200px';
            imgElement.src = event.target.result;

            if (oldImg != null) {
                prev.replaceChild(imgElement, oldImg);
            }
            else {
                prev.appendChild(imgElement);
            }
        }    
        fReader.readAsDataURL(fullPath);
        
        var fileName = fullPath.name;
        
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

        // enlever les messages d'erreur éventuels
        
        $(".vich-image").siblings(".invalid-feedback").remove();  
        $("#image_name span").remove() ;
    })
</script>