{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { max-width: 800px; min-height: 20em; font: 16px/1.5 }

</style>

<div class="example-wrapper">
    <h2> {{ titre }} </h2>
    <hr>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
   <div class="container mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    
                    <th> Type </th>
                    <th> Titre </th>
                    <th> Date </th>
                    <th> Image </th> 
                    <th> Action </th>
                   
                </tr>
            </thead>
            <tbody>
                {% for evenement in evenements %}
                <tr>
                    <td> {{ evenement.typeEvenement(evenement.type) }} </td>
                    <td> {{ evenement.titre }} </td>
                    <td> {{ evenement.date|date("d/m/Y") }} </td>
                    <td> {% if evenement.image %}
                            <img src="{{vich_uploader_asset(evenement, 'imageFile') | imagine_filter('thumb')}}" Alt="" width="100" height="auto"/>
                        {% elseif (evenement.typeEvenement(evenement.type) == 'Hommage') %}
                            <img src="/images/fleur2.jpg" width="100" height="auto"/>
                        {% elseif (evenement.typeEvenement(evenement.type) == 'Naissance') %}
                            <img src="/images/naissance.jpg" width="100" height="auto"/>
                        {% elseif (evenement.typeEvenement(evenement.type) == 'Mariage') %}  
                            <img src="/images/mariage.jpg" width="100" height="auto"/>
                        {% else %}
                            <img src="{{'/images/evenements/iconecalendrier.png' | imagine_filter('thumb')}}" width="100" height="auto"/>
                        {% endif %}
                    <td> 
                        <a href="{{ path('admin.evenement.edit' , {id: evenement.id}) }}" class="btn btn-secondary"> Editer </a>
                        <form  action="{{ path('admin.evenement.delete' , {id: evenement.id}) }}" style="display:inline-block" method="POST" onsubmit="return confirm('Etes vous vraiment sûr ?')"> 
                            <input type="hidden" name="_method" value="DELETE">
                            {# pour la sécurité, on ajoute un tocken #}
                            <input type="hidden" name="_tocken" value="{{ csrf_token('delete' ~ evenement.id) }}"> 
                            <button class="btn btn-danger"> Supprimer </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
        <a href="{{ path('admin.evenement.new') }}" class="btn btn-primary">Créer un nouvel Evenement</a>
        </div>
   </div>
</div>
{% endblock %}
