{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<h2> {{ titre }} </h2>
<hr>
<main class="row">
    
    <section class="example-wrapper col-md-4"> 
        <div class="container-fluid"> 
            <div class="text-center">
                <a href="{{ path('historique') }}"><img src ="/images/historique/ancienneEntreeVillage.jpg" Alt="Carte postale village" width="200" height="150"/> 
                    <h5 class="mt-2"> Historique du village</h5>
                </a>
            </div>
        </div>
    </section>
    <section class="example-wrapper col-md-4">
        <div class="container-fluid"> 
            <div class="text-center">
                <a href="{{ path('eglise') }}"><img src ="/images/eglise/AlleePrincipaleEglise.JPG" Alt="Photo Eglise" width="200" height="150"/>  
                  <h5 class="mt-2"> Eglise St Grégoire</h5>
                </a> 
            </div>
        </div>
    </section>
    <section class="example-wrapper col-md-4">
        <div class="container-fluid"> 
            <div class="text-center">
                <a href="{{ path('reserve') }}"><img src ="/images/cote/CoteArcDeCercleEtVillage.jpg" Alt="Photo cote" width="200" height="150"/>  
                   <h5 class="mt-2"> Réserve naturelle</h5>
                </a> 
            </div>
        </div>
    </section>
</main>

{% endblock %}
