{% if not registrationForm.vars.valid %}
    <div class="alert alert-danger">
        Vous avez fait une erreur dans le remplissage du formulaire. 
        <br> Veuillez corriger s'il vous plait.
    </div>
{% endif %}

{{ form_start(registrationForm) }}
        
    {{ form_row(registrationForm.Lastname) }}
    {{ form_row(registrationForm.Firstname) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.plainPassword) }}

    <button class="btn btn-primary">Enregistrer</button>
    <a href="/supadmin" type="cancel" class="btn btn-secondary">Annuler</a>

 {{ form_end(registrationForm) }}