{% if not form.vars.valid %}
    <div class="alert alert-danger">
        Vous avez fait une erreur dans le remplissage du formulaire. 
        <br> Veuillez corriger s'il vous plait.
    </div>
{% endif %}

{{ form_start(form) }}
        
    {{ form_row(form.Lastname) }}
    {{ form_row(form.Firstname) }}
    {{ form_row(form.username) }}
    {{ form_row(form.roles) }}
    <button class="btn btn-primary">Enregistrer</button>
    <a href="/supadmin" type="cancel" class="btn btn-secondary">Annuler</a>

 {{ form_end(form) }}