{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { max-width: 800px; width: 95%; min-height: 20em; font: 16px/1.5 }

</style>

<div class="example-wrapper">
    <h2> {{ titre }} </h2>
    <hr>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
   <div class="container mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    
                    <th> Nom </th>
                    <th> Prénom </th>
                    <th> Identifiant </th>
                    <th> Rôle </th> 
                   
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td> {{ user.lastname }} </td>
                    <td> {{ user.firstname }} </td>
                    <td> {{ user.username }} </td>
                    <td> 
                        {% if user.roles %}
                            {{ user.roles[0] }} 
                        {% else %}
                            ROLE_USER
                        {% endif %}
                        </td>
                    <td> 
                        <a href="{{ path('admin.utilisateur.edit' , {id: user.id}) }}" class="btn btn-secondary"> Editer </a>
                        <form  action="{{ path('admin.utilisateur.delete' , {id: user.id}) }}" style="display:inline-block" method="POST" onsubmit="return confirm('Etes vous vraiment sûr ?')"> 
                            <input type="hidden" name="_method" value="DELETE">
                            {# pour la sécurité, on ajoute un tocken #}
                            <input type="hidden" name="_tocken" value="{{ csrf_token('delete' ~ user.id) }}"> 
                            <button class="btn btn-danger"> Supprimer </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
        <a href="{{ path('app_register') }}" class="btn btn-primary">Créer un nouvel Utilisateur</a>
        </div>
   </div>
</div>
{% endblock %}
